body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
padding:20px;
}

button{
padding:15px;
margin:10px;
font-size:18px;
background:#ff3b30;
color:white;
border:none;
border-radius:10px;
}

input{
padding:10px;
font-size:18px;
margin:10px;
border-radius:10px;
}

#timer{
font-size:50px;
margin:20px;
}
