body{
background:#0e0e0e;
color:white;
font-family:-apple-system;
margin:0;
padding:20px;
}

.title{
text-align:center;
font-size:28px;
margin-bottom:40px;
}

.mainButton{

width:100%;
padding:30px;
font-size:22px;
margin-bottom:20px;

background:#1e1e1e;
border:none;
border-radius:16px;

color:white;

}

.mainButton:hover{
background:#333;
}

.hidden{
display:none;
}

#daysContainer{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
}

.dayButton{

padding:18px;
background:#1e1e1e;
border-radius:12px;
border:none;
color:white;
font-size:16px;

}

.dayButton:hover{
background:#333;
}

.exercise{

background:#1e1e1e;
padding:15px;
border-radius:10px;
margin-bottom:15px;

}

.set{

display:flex;
justify-content:space-between;
align-items:center;
margin-top:6px;

}

input{
width:70px;
padding:6px;
border-radius:6px;
border:none;
}

.restButton{

background:#444;
color:white;
border:none;
padding:6px 10px;
border-radius:6px;

}

.back{

margin-bottom:20px;
background:none;
border:none;
color:#aaa;
font-size:16px;

}

canvas{
margin-top:30px;
background:white;
border-radius:12px;
}
