body{

font-family:-apple-system;
background:#111;
color:white;
text-align:center;
margin:0;
padding:20px;

}

.logo{

font-size:32px;
margin-bottom:40px;

}

.mainBtn{

width:90%;
max-width:350px;

padding:25px;

font-size:22px;

margin:20px auto;

border:none;
border-radius:15px;

background:#1e88e5;

color:white;

display:block;

}

.mainBtn:active{

transform:scale(0.97)

}

.hidden{

display:none

}

.dayBtn{

background:#222;
border:none;

padding:20px;

margin:10px;

border-radius:10px;

color:white;

font-size:18px;

width:90%;

}

.exercise{

background:#1c1c1c;

margin:15px;

padding:15px;

border-radius:10px;

}

.setRow{

display:flex;

justify-content:space-between;

align-items:center;

margin:8px 0;

}

input{

width:60px;
padding:6px;

}

.timerBtn{

background:#4caf50;

border:none;

padding:6px 10px;

border-radius:6px;

color:white;

}

.done{

color:#4caf50;
font-weight:bold;

}

.backBtn{

margin-top:20px;

padding:15px;

font-size:18px;

background:#444;

border:none;

border-radius:10px;

color:white;

}
