html,body{

margin:0;
padding:0;

background:black;
color:white;

font-family:-apple-system,BlinkMacSystemFont;

}


.screen{

display:none;
padding:30px;
text-align:center;

}

.active{

display:block;

}


h1{

font-size:42px;
margin-top:40px;

}

.mainButton{

width:85%;
max-width:320px;

padding:22px;

font-size:22px;

margin:20px auto;

display:block;

background:white;
color:black;

border:none;

border-radius:14px;

font-weight:bold;

}

.mainButton:active{

transform:scale(0.96);

}

#daysContainer{

display:grid;

grid-template-columns:1fr 1fr;

gap:12px;

margin-top:20px;

}

.dayButton{

padding:18px;

font-size:18px;

background:#1c1c1c;

color:white;

border:none;

border-radius:10px;

}

.timerButton{

margin-top:25px;

padding:18px;

font-size:20px;

background:#00c853;

color:white;

border:none;

border-radius:12px;

}

.backButton{

margin-top:30px;

padding:14px 28px;

background:#444;

color:white;

border:none;

border-radius:10px;

}

#timer{

font-size:42px;

margin-top:20px;

}
